@charset "UTF-8";
*{
	padding:0;
	margin:0;
}
body
{
	background-color:white;
}
.left	
{
	width: 14%;
	height: 100%;
	position: fixed;
	left: 0px;
	background-color: rgb(60,68,77);
	padding-top:10px;
	float:left;
}
.left .username img
{
	height:26px;
	width:26px;
}
.left .username
{
	display: flex;
    align-items: center;
    padding-left:20px;
}
.left .username span
{
	color:white;
	font-size:14px;
	margin-left:10px;
}
.option{
	line-height:50px;
	margin-top:20px;
}
.option li{
	color:white;
	list-style:none;
	margin:0 auto 0 auto;
	text-align:center;
	font-size:16px;
	display: flex;
    align-items: center;
	height:50px;
	padding-left:20px;
	cursor:pointer;
}
.option li img{
	width:16px;
	height:16px;
	margin-right:10px;
}
.option li:hover{
	background-color:rgb(44,49,56);
}
.right	
{
	width:86%;
	height:100%;
	background-color: white;
	position:absolute;
	right:0px;
}
.right .right-top{
	box-shadow: 2px 2px rgb(224,224,224);
	width: 95%;
    height: 40px;
    border:1px solid rgb(73,153,255);
    box-sizing: border-box;
    padding: 0px 20px;
    margin: 10px auto 0 auto;
    border-radius: 5px;
    line-height:40px;
}
.right .right-bottom{
	box-shadow: 2px 2px rgb(224,224,224);
	width: 95%;
    border:1px solid rgb(73,153,255);
    box-sizing: border-box;
    padding: 0px 20px;
    margin: 5px auto 0 auto;
    border-radius: 5px;
    line-height:40px;
}
.right .title{
	color:black;
	font-weight:bold;
}
.right .exit{
	color:grey;
	float:right;
	font-size:14px;
	text-decoration: none;
}
