.right-bottom table
{
    text-align:center;
}
.right-bottom table .idtd
{
    width:50px;
}
.right-bottom table .content{
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align:left;
}
.right-bottom table .tabletitle
{
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align:left;
}
.right-bottom table .tableAuthor
{
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align:left;
}
