@charset "UTF-8";
@font-face {
  font-family: "iconfont"; /* Project id 3454554 */
  src: url('./fonts/iconfont.woff2?t=1654575216597') format('woff2'),
       url('./fonts/iconfont.woff?t=1654575216597') format('woff'),
       url('./fonts/iconfont.ttf?t=1654575216597') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont:hover{
	font-size:20px;
	cursor:pointer;
}
.container{
	width:350px;
	margin-left: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 30px;
	padding: 0 10px;
	border: 1px solid grey;
	overflow: hidden;
	border-radius: 35px;
}
.search{
	flex: 1;
	line-height: 30px;
	border:none;
	outline: none;
	margin-right: 10px;
}